
.td_task_container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #e0e0e0;
    word-wrap: break-word;
    cursor: default;
    
}


.td_task_name {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
}

.td_task_desc {
    font-size: 1rem;
    display: inline;
    color: gray;
}

.td_task_date {
    font-size: 1.3rem;
    display: inline;
    color: gray;
    width: 100%;
    text-align: right;
    transition: color 0.5s;
    cursor:default;
}

.td_task_date:hover {
    color: black;
}

.td_task_button_div {
    display: flex;
    flex-direction: row;
    gap: 2px;
    background-color: #e0e0e0;
}

.td_task_button {
    border: none;
    padding: 10px;
    width: 100%;
    background: transparent;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    background: white
}


.td_task_button:hover {
    background-color: #e0e0e0;
    width: 130%;
}