.td_task_container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #e0e0e0;
    word-wrap: break-word;
}


.td_task_name {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline;
}

.td_task_desc {
    font-size: 1rem;
    display: inline;
    color: gray;
}

.td_task_date {
    font-size: 1.5rem;
    display: inline;
    color: gray;
    width: 100%;
    text-align: right;
}

.td_task_folding_footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 10px;
    background-color: rgba(192, 192, 192, 0.233);
    padding: 10px;
    transform-origin: top;
    transition: all 0.3s ease-in-out;
    transform: scaleY(1);
    height: auto;
}

.td_task_folding_footer.collapsed {
    transform: scaleY(0);
    height: 0;
  }


.td_task_fold_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.555);
    transition: all 0.3s ease-in-out;

}

.td_task_folding_footer button {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease-in-out;
}

.td_task_folding_footer button:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.555);
}


.td_task_completed_button {
    background-color: rgb(0, 255, 0); 
    border: 2px solid rgb(0, 255, 0);
}

.td_task_delete_button {
    background-color: rgb(255, 0, 0); 
    border: 2px solid rgb(255, 0, 0);
}

.td_task_edit_button {
    background-color: rgb(0, 0, 255); 
    border: 2px solid rgb(0, 0, 255);
}
